# Core
torch==2.2.0
torchvision==0.17.0
numpy==1.26.4

# Geospatial
rasterio
geopandas
shapely
pyproj
planetary-computer
pystac-client

# Data
requests
boto3
pandas
tqdm
pyyaml

# ML
terratorch
transformers==4.40.0
timm
einops
scikit-learn

# API
fastapi
uvicorn
pydantic

# MLflow
mlflow==2.14.3

# Airflow
apache-airflow==2.8.0

# Monitoring
evidently
prometheus-client

# Feature store
feast

# Storage
minio

# Testing
pytest
httpx
